<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.thinapps.relaxingsounds">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelaxingSounds">

        <!-- Sound detail screen -->
        <activity
            android:name=".ui.SoundDetailActivity"
            android:exported="false" />

        <!-- Main launcher activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New foreground playback service for 0.4.0 -->
        <service
            android:name=".playback.SoundPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
